<% provide(:title, @microposts.title) %>
<ul>
    <span class="user">
       <h3><%= link_to @microposts.title, @microposts %></h3>
    </span>
</ul>

<ul class="users">
    <li id="micropost-<%= @microposts.id %>">
    <%= link_to avatar_url(@microposts.user,80), @microposts.user %>
    <span class="user">
       <%= link_to @microposts.user.name, @microposts.user %>
    </span>
    <br>
  <span class="timestamp">  
   <br>
   Posted <%= time_ago_in_words(@microposts.created_at) %> ago.
  </span>
</li>
</ul>
<ul>
  <span class="content">
     <br>
     <%= @microposts.content %>
     <%= image_tag @microposts.picture.url if @microposts.picture? %>
    </span>
</ul>
<div class="row">
    <% if @microposts.comments.any? %>
      <h3>Comments (<%= @microposts.comments.count %>)</h3>      
    <% end %>
</div>

<div class="comments">
  <% @comments.each do |comment| %>
     <span class="user">
       <%= link_to comment.user.name, comment.user %>
     </span>
     <%= comment.content %>
     <span class="timestamp">
       <% if comment.created_at!=nil %>  
        .Posted <%= time_ago_in_words(comment.created_at) %> ago.
       <% end %>
     </span>
     <br>
  <% end %>
</div>

<div class="row">
      <%= form_for @comment, :url => micropost_comments_path(@microposts)  do |f| %>
       <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
         <%= f.text_area :content, placeholder: "Compose new micropost..." %>
        </div>
        <%= f.submit "Post", class: "btn btn-primary" %>
  
      <% end %>
</div>